@page "/"
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@rendermode InteractiveServer
@inherits HomePageBase


<PageTitle>Books List</PageTitle>

<h1>Books List</h1>

<div class="chatbot-experience-body">
    @if (Books != null)
    {
        @foreach (var book in Books)
        {

            <div class='chat-message-container chat-human-message-container'>
                <div class='chat-human-message'>
                    @book.Id
                </div>
            </div>

        }
    }
</div>
